@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

body {
  background-color: red;
  font-family: "Barlow", sans-serif;
}

.container-sm {
  height: 600px;
  background-color: royalblue;
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.contauiner-fluid {
  position: relative;
}

.centered {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: 5px;
  position: absolute;
  top: 144px;
}

.arrow {
  position: absolute;
  bottom: -366px;
  left: 50%;
}
